<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>

body{
    margin: 30px;
}


.card-img-top{
    width: 50%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px #00000033;
    
}
.card{
    height: auto;
    padding: 20px;
    text-align: center;
    border-radius: 13px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    
}
.pro-label {
    position: absolute;
    top: 10px; /* Adjust the position as needed */
    left: 10px; /* Adjust the position as needed */
    background-color: #757575; /* Adjust the color as needed */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}
.stat-title {
    font-weight: bold;
    font-size: 11px;
}
.stat-value {
    font-size: 1.1rem;
    color: #333;
}

.btn{
    width: 110px;

}

.card-text{
    font-size: 14px;
}

.mb-2 i{
    padding-right: 10px;
}
.content{
    margin-top: 12%;
    color: black;
    max-width: 600px;
}
.content h1{
    font-size: 105px;
    font-weight: 700;
    line-height: 90px;
    margin-bottom: 25px;
    text-align: start;
    padding-left: 70px;
    font-family: "Roboto", sans-serif;
    
} 
.content p{
    font-size: 50px;
    font-weight: 400;
    line-height: 80px;
    margin-bottom: 25px;
    text-align: start;
    padding-left: 70px; 
} 

.content p span{
    font-size: 50px;
    font-weight: 400;
    line-height: 80px;
    margin-bottom: 50px;
    text-align: start;
    padding-left: 70px;  
}